.content-advantage {
    background-color: #222224;
}

.advantage {
    @include flex (space-between, center, nowrap, row, 0, 95px auto 0 auto);
    min-height: 341px;
    box-sizing: border-box;
}

.advantage-item {
    @include flex (space-between, center, wrap, column, 0, 0);
    @include size (300px);
}

.advantage-item-icon {
    @include block (0, 0 0 28px 0);
    fill: #f16d7f;
    transition: fill 1s ease;
}

.advantage-item-icon:hover {
    fill: #ffffff;
}

.advantage-item-icon:active {
    fill: #f16d7f;
}

.advantage-item-title {
    @include block-txt (block, 0, 0 0 16px 0, center);
    @include font-mix (400, 19.96px, 23.95px, capitalize, #fbfbfb);
}

.advantage-item-txt {
    text-align: center;
    @include font-mix (300, 13.97px, 17px, none, #fbfbfb);
}

@media (max-width: 768px) {
    .advantage {
        flex-wrap: wrap;
    }

    .advantage-item {
        max-width: 100%;
    }

    .advantage-item-icon {
        margin: 48.4px 0 28px 0;
    }

    .advantage-item-icon:nth-child(2) {
        margin: 48.4px 0 19px 0;
    }

    .advantage-item-icon:nth-child(3) {
        margin: 48.4px 0 25px 0;
    }

    .advantage-item-txt {
        display: block;
        max-width: 340px;
    }

    .advantage-item:last-child .advantage-item-txt {
        padding: 0 0 64px 0;
    }

    .advantage {
        margin-top: 65px;
    }
}

@media (max-width: 375px) {
    .advantage {
        margin-top: 96.5px;
    }
}