footer {
    background-color: #222224;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 79px;
    box-sizing: border-box;
}

.page-footer-txt {
    display: block;
    margin: 0;
    @include font-mix (400, 16px, 19.2px, capitalize, #fbfbfb);
}

.page-footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 148px;
}

.page-footer-socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}

.page-footer-socials-item svg {
    fill: #000000;
}

.page-footer-socials-item:hover svg {
    fill: #f16d7f;
}

.page-footer-socials-item:active {
    background-color: #f16d7f;
}

.page-footer-socials-item:active svg {
    fill: #ffffff;
}