/*****************banner**************/

.content {
    width: 100%;
}

.content-banner {

    width: 100%;
    background-color: #f1e4e6;
}

.content-banner:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 764px;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -218px;
    background-position-y: bottom;
}

// .banner-photo {
//     display: flex;

//     height: 100%;
//     margin: 0 30px 0 0;
// }

// .banner-photo-png {
//     animation: kenburns-bottom 0.8s ease-out both;
// }

// .banner-header {
//     margin-top: 290px;
// }


.banner-header {
    text-transform: uppercase;
    color: #222222;
    margin: 0 0 8% 49%;
    position: relative;
    animation: scale-up-ver-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.banner-header::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    top: -1;
    left: -28px;

}

.banner-title {
    @include font-mix (900, 48px, 58px, uppercase, #222222);
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.banner-subtitle,
.banner-subtitle-pink {
    @include font-mix (700, 32px, 38.4px, uppercase, #222222);
    animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.banner-subtitle-pink {
    color: #f16d7f;
}

/******************categories*****************/

.categories {
    margin: 65px auto 96px auto;
}

.categories-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 32%;
    min-height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
    text-decoration: none;
}

.categories-item:hover {
    background-color: rgba(56, 54, 54, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.categories-item:active {
    background-blend-mode: color;
}

.categories-item:nth-child(1) {
    background-image: url(../img/categories-item-1.png);
    margin-right: 2%;
}

.categories-item:nth-child(2) {
    background-image: url(../img/categories-item-2.png);
    margin-right: 2%;
}

.categories-item:nth-child(3) {
    background-image: url(../img/categories-item-3.png);
}

.categories-item:last-child {
    background-image: url(../img/categories-item-4.png);
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
}

.categories-item-title,
.categories-item-subtitle {
    display: block;
    width: 100%;
}

.categories-item-title {
    text-align: center;
    padding: 4px;
    @include font-mix(400, 16px, 19.2px, uppercase, #ffffff);
}

.categories-item-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    @include font-mix(700, 24px, 28.8px, uppercase, #f16d7f);
}

/******************products*********************/

.products:hover .products-title,
.products:hover .products-desc {
    text-shadow: 0px 3px 3px #9f9f9f;
}

.products-title,
.products-desc {
    text-align: center;
}

.products-title {
    display: block;
    margin: 0 0 6px 0;
    @include font-mix(400, 30px, 36px, capitalize, #222222);
}

.products-desc {
    display: block;
    margin: 0 0 47px 0;
    @include font-mix(400, 14px, 16.8px, none, #9f9f9f);
}

.products-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.products-flex-item {
    background-color: #f8f8f8;
    flex-basis: 32%;
    position: relative;
    margin-bottom: 30px;
    margin-right: 1%;
}

.products-flex-item:nth-child(4),
.products-flex-item:nth-child(5),
.products-flex-item:nth-child(6) {
    margin-bottom: 48px;
}

.products-flex-item:nth-child(3),
.products-flex-item:nth-child(6) {
    margin-right: 0;
}

.products-flex-item:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.products-flex-item-link {
    display: block;
    text-decoration: none;
}

.products-item-pic {
    width: 100%;
    height: 100%;
}

.products-flex-item:hover .products-item-pic {
    filter: brightness(30%);
}

.products-txt-box {
    padding: 25.35px 28.8px 20px 16.46px;
}

.products-txt-box-title {
    display: block;
    margin: 0 0 12.65px 0;
    @include font-mix(400, 13px, 15.6px, uppercase, #000000);
}

.products-txt-box-desc {
    display: block;
    margin: 0 0 18px 0;
    @include font-mix(300, 14px, 16.8px, none, #5d5d5d);
}

.products-txt-box-price {
    display: block;
    margin: 0;
    @include font-mix(400, 16px, 19.2px, none, #f16d7f);
}

// @media (max-width: 1600px) {
//     .center {
//         padding: 0 2%;
//     }
// }

@media (max-width: 1200px) {

    .categories-wrp,
    .products-flex {
        margin: 0 2%;
    }
}

// @media (max-width: 900px) {
//     .products-item-pic {
//         height: 90%;
//     }
// }

@media (max-width: 768px) {

    .page-header {
        min-height: 74px;
    }

    .page-header-logo {
        margin: 18px 41px 19px 32px;
    }

    .header-right {
        margin-right: 41px;
    }

    .banner {
        min-height: 368px;
        background-position-x: 0;
    }

    .banner-title {
        font-size: 44px;
        line-height: 53px;
    }

    .banner-subtitle,
    .banner-subtitle-pink {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .categories {
        margin: 20px 0 154.92px 0;
    }

    .categories-item {
        min-height: 167.62px;
    }

    .categories-item:last-child {
        height: 116px;
        margin-top: 19.38px;
    }

    .products-desc {
        margin: 0 0 74px 0;
    }

    .products-flex {
        margin: 0 2% 0 2%;
    }

    .products-flex-item {
        flex-basis: 48%;
        margin-bottom: 15px;
    }

    .products-flex-item:nth-child(5),
    .products-flex-item:nth-child(6) {
        margin-bottom: 33px;

    }

    .products-flex-item:nth-child(4) {
        margin-bottom: 15px;
    }

    .products-flex-item:nth-child(2),
    .products-flex-item:nth-child(4),
    .products-flex-item:nth-child(6) {
        margin-right: 0;
    }

    .banner-header::before {
        top: -5px;
    }
}

@media (max-width: 650px) {
    .banner {
        background-image: none;
        margin-left: 5%;
    }

    .banner-header {
        margin: 0;
    }
}

@media (max-width: 375px) {
    .banner {
        min-height: 363px;
        margin-left: 10%;
    }

    .banner-title {
        font-size: 38px;
        line-height: 45px;
    }

    .banner-subtitle,
    .banner-subtitle-pink {
        font-size: 20px;
        line-height: 24px;
    }

    .banner-header::before {
        height: 61px;
        top: 5px;
        left: -27px;
    }
}

@media (max-width: 375px) {
    .page-header-logo {
        margin: 18px 41px 19px 16px;
    }

    .header-right {
        margin-right: 0;
    }

    .menu-btn {
        margin: 0 26px 18px 0;
    }

    .account-icon-btn {
        display: none;
    }

    .cart-btn {
        display: none;
    }

    .banner {
        margin-left: 3%;
    }

    .categories {
        margin: 64px 0;
    }

    .categories-wrp,
    .products-flex {
        margin: 0 4%;
    }

    .categories-item {
        width: 100%;
        min-height: 343px;
    }

    .categories-item:nth-child(1),
    .categories-item:nth-child(2),
    .categories-item:nth-child(3),
    .categories-item:nth-child(4),
    .categories-item:nth-child(5),
    .categories-item:nth-child(6) {
        margin-right: 0;
        margin-bottom: 32px;
        min-height: 247px;
        background-size: cover;
    }

    .categories-item:last-child {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 111px;
    }

    .products-flex-item {
        flex-basis: 100%;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .products-flex-cart {
        .products-flex-cart {
            display: none;
            position: absolute;
            top: 188px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            pointer-events: none;
        }
    }

    .products-flex-item:nth-child(5) {
        margin-bottom: 16px;
    }

    .products-flex-item:nth-child(6) {
        margin-bottom: 41px;
    }

    .products-btn {
        width: 211px;
        min-height: 47px;
    }
}