.registration {
    margin: 64px auto 96px;
}

.registration-form {
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
}

.first-name-txt,
.last-name-txt,
.e-mail-txt,
.password-txt {
    width: 360px;
    width: 100%;
    height: 45px;
    padding: 0 0 0 17.24px;
    border: 1px solid rgba(164, 164, 164, 1);
    box-sizing: border-box;
}

.first-name,
.first-name-txt,
.last-name,
.last-name-txt,
.gender,
.e-mail,
.e-mail-txt,
.password,
.password-txt,
.psw-info {
    display: block;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    width: 360px;
}

.first-name,
.first-name-txt,
.e-mail,
.e-mail-txt {
    margin: 0 0 20px 0;
}

.password-txt {
    margin: 0 0 15px 0;
}

/******Registration page стилизация radio*********/

.gender-box {
    display: flex;
    align-items: center;
    margin: 31px 0 33px 0;
}

.male[type="radio"],
.female[type="radio"] {
    display: none;
}

.male-gender,
.female-gender {
    display: block;
    margin-right: 20px;
    padding: 0 0 0 27px;
    height: 17px;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
    box-sizing: border-box;
    position: relative;
}

.male-gender::before,
.female-gender::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid rgba(164, 164, 164, 1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.male[type="radio"]:checked~.male-gender::before,
.female[type="radio"]:checked~.female-gender::before {
    background-color: #f1e4e6;
}

/********Registration page - Стилизация placeholder, кроссбрауз **********/

.first-name-txt[type="text"]::-webkit-input-placeholder,
.last-name-txt[type="text"]::-webkit-input-placeholder,
.e-mail-txt[type="email"]::-webkit-input-placeholder,
.password-txt[type="password"]::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    box-sizing: border-box;

}

.first-name-txt[type="text"]::-moz-placeholder,
.last-name-txt[type="text"]::-moz-input-placeholder,
.e-mail-txt[type="email"]::-moz-input-placeholder,
.password-txt[type="password"]::-moz-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

.first-name-txt[type="text"]:-moz-placeholder,
.last-name-txt[type="text"]:-moz-input-placeholder,
.e-mail-txt[type="email"]:-moz-input-placeholder,
.password-txt[type="password"]:-moz-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

.first-name-txt[type="text"]:-ms-input-placeholder,
.last-name-txt[type="text"]:-ms-input-placeholder,
.e-mail-txt[type="email"]:-ms-input-placeholder,
.password-txt[type="password"]:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

/********Registration page - Стилизация примечания password *********/

.psw-info {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 0 0 39px 0;
}

/********Registration page - Стилизация кнопки *********/

.registration-btn {
    display: block;
    position: relative;
}

.registration-btn input {
    display: block;
    text-align: left;
    padding: 0 0 0 29px;
    width: 167px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
}

.reg-btn-svg {
    position: absolute;
    top: 20px;
    left: 118px;
    fill: #ffffff;
    box-sizing: border-box;
}

.registration-btn:hover svg {
    fill: #F16D7F;
}

.registration-btn:active svg {
    fill: #222222;
}

/********Registration page - Стилизация loyalty has its perks*********/

.loyalty {
    padding: 0 0 0 128px;
    box-sizing: border-box;
}

.loyalty-header {
    text-transform: uppercase;
}

.loyalty-header,
.loyalty-txt,
.loyalty-list {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyalty-txt {
    margin: 22px 0 21px 0;
    width: 94%;
    text-align: justify;
}

.loyalty-list {
    list-style-type: none;
}

.loyalty-item {
    margin: 0 0 16px 45px;
    position: relative;
}

.loyalty-item::after {
    content: "";
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/ok.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 7px;
    left: -45px;
    box-sizing: border-box;
}