.shopping__cart-header {
    line-height: 148px;
    animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    margin: 96px auto 128px;
}

.shopping-cart-product {
    margin: 0 0 40px 0;
    display: flex;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    max-width: 652px;
    width: 100%;
    min-height: 306px;
}

.shopping-cart-product:nth-last-child(2) {
    margin: 0 0 72px 0;
}

.shopping-cart-product-link {
    height: 306px;
    transition: filter 1s;
}

.shopping-cart-product-link:hover {
    filter: brightness(40%);
}

.shopping-cart-info {
    background-color: #ffffff;
}

.shopping-cart-info h3 {
    display: block;
    width: 262px;
    min-height: 58px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin: 22px 97px 42px 31px;
}

/*********SHOPPING CAR позиционирование кнопки close из меню для карточки товара********/

.shopping-cart-close {
    width: 18px;
    height: 18px;
}

.shopping-cart-close::before,
.shopping-cart-close::after {
    position: absolute;
    top: -94px;
    left: 150px;
}

/***********SHOPPING CART список в карточке товара в корзине*************/

.shopping-cart-info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 122px;
}

.shopping-cart-info ul li {
    list-style-type: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding: 6px 24px 0 32px;
}

.shopping-cart-info ul li:last-child {
    padding: 6px 24px 6px 32px;
}

.text-field__input {
    display: inline;
    width: 44px;
    height: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    border: 1px solid #eaeaea;
    margin-left: 24px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

.text-field__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
}

.text-field__input:focus {
    outline: 2px solid #575757;
}

.shopping-cart-info ul li span {
    color: #EF5B70;
    color: #ef5b70;
}

/**********SHOPPING CART блок SHIPPING ADRESS************/

.shopping-cart-form-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    border: none;
    margin-top: 18px;
}

.shopping-cart-form-header {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 18px 0 20px 128px;
}

.input-cart-form {
    padding: 13px 0 16px 17.24px;
    border: 1px solid rgba(164, 164, 164, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    margin: 0 0 20px 128px;
}

.form-other:last-child {
    margin: 0 0 23px 128px;
}

.input-cart-form[type="text"]::-webkit-input-placeholder {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
}

.form-other[type="text"]::-webkit-input-placeholder,
.input-cart-form[type="number"]::-webkit-input-placeholder {
    color: #222222;
}

/*************SHOPPING CART серый блок с кнопкой checkout**********/
.checkout {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 128px;
    padding: 0 0 0 43px;
    box-sizing: border-box;
    width: 360px;
    height: 214px;
    background: #F5F3F3;
    background: #f5f3f3;
}

.checkout-subtitle {
    display: block;
    text-align: right;
    margin: 39px 43px 12px 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    color: #4a4a4a;
    text-transform: uppercase;
}

.checkout-subtitle span {
    padding: 0 0 0 26px;
}

.checkout-title {
    display: block;
    text-align: right;
    margin: 0 43px 17px 0;
    border-bottom: 1px solid #E2E2E2;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 21px 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}

.checkout-title span {
    padding: 0 0 0 26px;
    font-weight: 700;
    color: #F16D7F;
    color: #f16d7f;
}

.checkout .checkout-btn {
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}