* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "lato";
    font-style: normal;
    width: 100%;
}

.center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@import "mixin";

@import "vars";

@import "header";

@import "main-page";

@import "block-advantage";

@import "footer";

@import "block-subscrible";




/*****************page#2 products******************/
.item-prod {
    margin: 0 0 128px 0;
}

/******************page product*********************/

.item-catalog {
    margin: 0 0 30px 0 !important;
}

/*****************the end page#2 products******************/



/******************advantage*******************/







/*****************page#2 products******************/

/*****************new-arrivals******************/

.content-arrivals {
    background-color: #f8f3f4;
    min-height: 148px;
}

.new-arrivals {
    display: flex;
    justify-content: space-between;
}

.new-arrivals-wrp {
    display: flex;
    align-items: center;
}

.new-arrivals-header {
    color: #f16d7f;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
}

/******************/

.new-arrivals-breadcrumb {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

.new-arrivals-breadcrumb-nav-ol li {
    display: inline;
    line-height: 148px;
    margin: 0 5px 0 0;
}

.new-arrivals-breadcrumb-nav-ol {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
}

.new-arrivals-breadcrumb-item-link {
    text-decoration: none;
    color: #636363;
}

.new-arrivals-breadcrumb-item-link:hover {
    color: #f16d7f;
}

.new-arrivals-breadcrumb-item+.new-arrivals-breadcrumb-item::before {
    color: #6c757d;

    padding: 0 23px;
}

.new-arrivals-active {
    color: #EF5B70;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
}

.breadcrumb-3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 44px;

}

/*****************page catalog pagination-bottom************/

.pagination {
    box-sizing: border-box;
    margin: 0 auto 96px;
    display: flex;
    justify-content: center;
}

.pagination-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-bottom-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 284px;
    height: 44px;
    margin: 0 auto;
    padding: 0 9px;
    border: 1px solid rgba(235, 235, 235, 1);
    box-sizing: border-box;
}

.pagination-bottom-list-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}

.pagination-bottom-list-link svg {
    display: block;
    fill: #000000;
}

.pagination-bottom-active {
    color: #EF5B70;
}

.pagination-bottom-list-link svg:hover,
.pagination-bottom-list-link:hover {
    color: #EF5B70;
    fill: #EF5B70;
}

.pagination-bottom-list-link svg:active,
.pagination-bottom-list-link:active {
    color: #000000;
    fill: #000000;
}

/***********************carousel***********************/

.carousel {
    position: relative;
    background-color: #f7f7f7;
}

.carousel-inner {
    width: 100%;
    height: 777px;
    overflow: hidden;
}

.carousel-open[type="radio"] {
    display: none;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.carousel-item img {
    height: 724px;
    width: 597px;
}

.carousel-control {
    background: #d8d8d8;
    color: #393939;
    cursor: pointer;
    display: none;
    font-size: 31px;
    height: 47px;
    width: 47px;
    line-height: 47px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
}

.carousel-control.prev {
    left: 0%;
}

.carousel-control.next {
    right: 0%;
}

.carousel-control:hover {
    color: #f16d7f;
}

.carousel-control:active {
    background: #222222;
    color: #f16d7f;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

// *****************WOMEN COLLECTION****************

.collection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 664px;
    position: relative;
}

.collection-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 601px;
    width: 100%;
    outline: 1px solid #eaeaea;
    position: absolute;
    top: -64px;
    background-color: #ffffff;
}

.collection-wrp-link {
    padding: 64.5px 0 12.1px 0;
    text-decoration: none;
}

.collection-wrp-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
    color: #f16d7f;
}

.collection-wrp-title:hover {
    text-shadow: 0px 3px 3px #9f9f9f;
}

.collection-wrp-line-top {
    display: block;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    margin: 0 0 12.1px 0;
}

.collection-wrp-subtitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
    color: #4d4d4d;
}

.collection-wrp-desc {
    display: block;
    width: 555px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: rgba(94, 94, 94, 1);
    margin: 48px 0 32px 0;
}

.collection-wrp-price {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    color: #ef5b70;
}

.collection-wrp-line-bottom {
    display: block;
    width: 642px;
    height: 1.01px;
    background-color: rgba(234, 234, 234, 1);
    margin: 64.5px 0 64.5px 0;
}

.collection-wrp-nav {
    display: flex;
    width: 374px;
    justify-content: space-between;
    margin: 0 0 49px 0;
    position: relative;
}

.collection-choice-list {
    text-align: center;
    width: 90px;
    height: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #f7f7f7;
    color: #ef5b70;
    text-transform: uppercase;
    position: absolute;
}

.collection-choice-list-dl {
    width: 90px;
    height: 20px;
    border: none;
    background-color: #f7f7f7;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
}

.collection-choice-list-center {
    position: absolute;
    top: 20px;
    left: 153px;
    z-index: 11;
}

.collection-choice-list-data {
    text-align: center;
    box-sizing: border-box;
    border: none;
}

.collection {
    justify-content: center;
    width: 100%;
    margin: 0 auto 664px;
    position: relative;
}

.collection-wrp:hover {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.collection-wrp-nav-choice {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: #6f6e6e;
    display: block;
}

.collection-wrp-nav-choice:hover {
    color: #ef5b70;
}

summary {
    display: block !important;
}

summary::-webkit-details-marker {
    display: none;
}

.fa {
    padding: 0 0 0 9px;
    color: #6f6e6e;
}

.fa:hover {
    color: #ef5b70;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 212px;
    height: 48px;
    line-height: 48px;
    background-color: #ffffff;
    border: 1px solid #ff6a6a;
    box-sizing: border-box;
    color: #f26376;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.add-to-cart-btn svg {
    margin: 0 23px 0 23.5px;
    fill: #ef5b70;
}

.add-to-cart-btn:hover svg {
    fill: #ffffff;
}

.add-to-cart-btn:active svg {
    fill: #222222;
}

.add-to-cart-btn:hover {
    background-color: #ff6a6a;
    color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-to-cart-btn:active {
    background-color: #ffffff;
    border: 1px solid #222222;
    color: #222222;
}

// *****************the end page#2 product****************

/***************page catalog**********************/

.catalog-item {
    margin-top: 39px;
    margin-bottom: 18px;
}

.catalog-flex {
    position: relative;
}

/**************catalog page filter**********/

/*******************filter*******************/

.product-nav {
    display: flex;
    margin: 0 auto 65px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    box-sizing: border-box;
}

.product-nav-left {
    max-width: 360px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.filter-nav {
    max-width: 360px;
    width: 100%;
    padding: 13px 16px 0 17px;
    background: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.filter-nav:focus-within {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-nav-box {
    display: block;
}

.filter-nav-header {
    display: flex;
    align-items: baseline;
    margin: 0 0 16px 0;
}

.filter-title {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0 11px 0 0;
}

summary {
    color: #000000;
    display: block;
    text-transform: uppercase;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-nav-submenu:last-child {
    margin: 0;
}

.filter-subtitle {
    display: block;
    height: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    color: #6F6E6E;
    position: relative;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    margin: 0 0 24px 0;
    padding: 0 0 0 11px;
    box-sizing: border-box;
}

.filter-list {
    list-style-type: none;
}

.filter-list a {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter-list-item {
    margin: 0 0 11px 0;
}

.filter-list-item:last-child {
    list-style-type: none;
    display: block;
    margin: 0 0 24px 0;
}

.filter-list-link {
    list-style-type: none;
    display: block;
}

.filter-subtitle:not(.collapsed) {
    color: #EF5B70;
}

.filter-subtitle:focus {
    color: #EF5B70;
}

.filter-nav-header:hover {
    color: #EF5B70;
    fill: #EF5B70;
}

/***********************product-nav-right***************/

.product-nav-right-left,
.product-nav-right-center,
.product-nav-right-right {
    position: relative;
    margin: 13px 0 0 30px;
}

.trending-title,
.size-title,
.price-title {
    margin: 0 0 5px 0;
}

.product-nav-right-center,
.product-nav-right-right {
    margin: 13px 0 0 27px;
}

.trending-nav-header span,
.size-nav-header span,
.price-nav-header span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trending-nav-header {
    width: 132px;
}

.size-nav-header {
    width: 49px;
}

.price-nav-header {
    width: 59px;
}

.trending-nav-header-title,
.size-nav-header-title,
.price-nav-header-title {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.size-size,
.size-trending,
.size-price {
    padding: 9.5px 9.5px 9.5px 0;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: -9px;
    z-index: 2;
}

.size-price {
    left: -1px;
}

.size-size {
    width: 79px;
}

.size-trending {
    width: 153px;
}

.size-price {
    width: 85px;
}

.product-nav-right-box label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
}

.product-marker-xs,
.product-marker-s,
.product-marker-m,
.product-marker-l {
    text-transform: uppercase;
}

.product-value-trending-1[type="checkbox"],
.product-value-trending-2[type="checkbox"],
.product-value-trending-3[type="checkbox"],
.product-value-trending-4[type="checkbox"],
.product-value-xs[type="checkbox"],
.product-value-s[type="checkbox"],
.product-value-m[type="checkbox"],
.product-value-l[type="checkbox"],
.product-value-price-1[type="checkbox"],
.product-value-price-2[type="checkbox"],
.product-value-price-3[type="checkbox"],
.product-value-price-4[type="checkbox"] {
    display: none;
}

.product-nav-right-box {
    display: block;
    margin: 0 0 10px 31px;
    height: 16px;
    box-sizing: border-box;
    position: relative;
}

.product-nav-right-box:nth-last-child(1) {
    margin: 0 0 0 31px;
}

.product-marker-trending-1::before,
.product-marker-trending-2::before,
.product-marker-trending-3::before,
.product-marker-trending-4::before,
.product-marker-xs::before,
.product-marker-s::before,
.product-marker-m::before,
.product-marker-l::before,
.product-marker-price-1::before,
.product-marker-price-2::before,
.product-marker-price-3::before,
.product-marker-price-4::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 3px;
    left: -22px;
    box-sizing: border-box;
}

.product-value-trending-1[type="checkbox"]:checked~.product-marker-trending-1::before,
.product-value-trending-2[type="checkbox"]:checked~.product-marker-trending-2::before,
.product-value-trending-3[type="checkbox"]:checked~.product-marker-trending-3::before,
.product-value-trending-4[type="checkbox"]:checked~.product-marker-trending-4::before,
.product-value-xs[type="checkbox"]:checked~.product-marker-xs::before,
.product-value-s[type="checkbox"]:checked~.product-marker-s::before,
.product-value-m[type="checkbox"]:checked~.product-marker-m::before,
.product-value-l[type="checkbox"]:checked~.product-marker-l::before,
.product-value-price-1[type="checkbox"]:checked~.product-marker-price-1::before,
.product-value-price-2[type="checkbox"]:checked~.product-marker-price-2::before,
.product-value-price-3[type="checkbox"]:checked~.product-marker-price-3::before,
.product-value-price-4[type="checkbox"]:checked~.product-marker-price-4::before {
    background-image: url(../img/klipartz.com.png);
    background-color: #f8f3f4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    box-sizing: border-box;
}

.trending-nav-header-title:hover,
.size-nav-header-title:hover,
.price-nav-header-title:hover {
    color: #EF5B70;
    fill: #EF5B70;
}

/**************PAGE SHOPPING CART*************/

.shopping__cart-header {
    line-height: 148px;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    margin: 96px auto 128px;
}

.shopping-cart-product {
    margin: 0 0 40px 0;
    display: flex;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
    max-width: 652px;
    width: 100%;
    min-height: 306px;
}

.shopping-cart-product:nth-last-child(2) {
    margin: 0 0 72px 0;
}

.shopping-cart-info {
    background-color: #ffffff;
}

.shopping-cart-info h3 {
    display: block;
    width: 262px;
    min-height: 58px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin: 22px 97px 42px 31px;
}

/*********SHOPPING CAR позиционирование кнопки close из меню для карточки товара********/

.shopping-cart-close {
    width: 18px;
    height: 18px;
}

.shopping-cart-close::before,
.shopping-cart-close::after {
    position: absolute;
    top: -94px;
    left: 150px;
}

/***********SHOPPING CART список в карточке товара в корзине*************/

.shopping-cart-info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 122px;
}

.shopping-cart-info ul li {
    list-style-type: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    padding: 6px 24px 0 32px;
}

.shopping-cart-info ul li:last-child {
    padding: 6px 24px 6px 32px;
}

.text-field__input {
    display: inline;
    width: 44px;
    height: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    border: 1px solid rgba(234, 234, 234, 1);
    margin-left: 24px;
    box-sizing: border-box;
}

.text-field__input::placeholder {
    color: #575757;
}

.text-field__input:focus {
    outline: 2px solid #575757;
}

.shopping-cart-info ul li span {
    color: #EF5B70;
}

/**********SHOPPING CART блок SHIPPING ADRESS************/

.shopping-cart-form-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    border: none;
    margin-top: 18px;
}

.shopping-cart-form-header {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 18px 0 20px 128px;
}

.input-cart-form {
    padding: 13px 0 16px 17.24px;
    border: 1px solid rgba(164, 164, 164, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    margin: 0 0 20px 128px;
}

.form-other:last-child {
    margin: 0 0 23px 128px;
}

.input-cart-form[type="text"]::-webkit-input-placeholder {
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.form-other[type="text"]::-webkit-input-placeholder {
    color: #222222;
}

/***********SHOPPING CART кнопка get a quote**********/

.input-cart-form-btn input {
    text-transform: uppercase;
    display: block;
    width: 101.41px;
    height: 35px;
    margin: 0 0 57px 128px;
    padding: 0 auto;
    border: 1px solid rgba(164, 164, 164, 1);
    box-sizing: border-box;
    font-weight: 300;
    font-size: 11px;
    line-height: 35px;
    color: #4A4A4A;
    background: #ffffff;
}

.input-cart-form-btn input:hover {
    background: #ff6a6a;
    color: #ffffff;
}

.input-cart-form-btn input:active {
    background: #4A4A4A;
    color: #ffffff;
}

/*************SHOPPING CART серый блок с кнопкой checkout**********/
.checkout {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 128px;
    padding: 0 0 0 43px;
    box-sizing: border-box;
    width: 360px;
    height: 214px;
    background: #F5F3F3;
}

.checkout-subtitle {
    display: block;
    text-align: right;
    margin: 39px 43px 12px 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
}

.checkout-subtitle span {
    padding: 0 0 0 26px;
}

.checkout-title {
    display: block;
    text-align: right;
    margin: 0 43px 17px 0;
    border-bottom: 1px solid #E2E2E2;
    padding: 0 0 21px 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
}

.checkout-title span {
    padding: 0 0 0 26px;
    font-weight: 700;
    color: #F16D7F;
}

/***************SHOPPING CART кнопка слева checkout*********/

.checkout-btn {
    width: 273px;
    height: 50px;
}

.checkout-btn input {
    display: block;
    width: 273px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #F16D7F;
    border: none;
}

.checkout-btn input:hover {
    color: #F16D7F;
    background-color: #FFffff;
    border: 1px solid #F16D7F;
}

.checkout-btn input:active {
    color: #222222;
    background-color: #FFFFFF;
    border: 1px solid #222222;
}

/**********SHOPPING CART кнопки снизу**********/
.shopping-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.clear-shoping-cart-btn,
.continue-shopping-btn {
    width: 234px;
    height: 49px;
}

.clear-shoping-cart-btn>input,
.continue-shopping-btn input {
    display: block;
    width: 234px;
    height: 49px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 1px solid rgba(164, 164, 164, 1);
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/***************Page Registration*******************/

/*регистрационная форма слева*/

.registration {
    margin: 64px auto 96px;
}

.registration-form {
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
}

.first-name-txt,
.last-name-txt,
.e-mail-txt,
.password-txt {
    width: 360px;
    width: 100%;
    height: 45px;
    padding: 0 0 0 17.24px;
    border: 1px solid rgba(164, 164, 164, 1);
    box-sizing: border-box;
}

.first-name,
.first-name-txt,
.last-name,
.last-name-txt,
.gender,
.e-mail,
.e-mail-txt,
.password,
.password-txt,
.psw-info {
    display: block;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    width: 360px;
}

.first-name,
.first-name-txt,
.e-mail,
.e-mail-txt {
    margin: 0 0 20px 0;
}

.password-txt {
    margin: 0 0 15px 0;
}

/******Registration page стилизация radio*********/

.gender-box {
    display: flex;
    align-items: center;
    margin: 31px 0 33px 0;
}

.male[type="radio"],
.female[type="radio"] {
    display: none;
}

.male-gender,
.female-gender {
    display: block;
    margin-right: 20px;
    padding: 0 0 0 27px;
    height: 17px;
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
    box-sizing: border-box;
    position: relative;
}

.male-gender::before,
.female-gender::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid rgba(164, 164, 164, 1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.male[type="radio"]:checked~.male-gender::before,
.female[type="radio"]:checked~.female-gender::before {
    background-color: #f1e4e6;
}

/********Registration page - Стилизация placeholder, кроссбрауз **********/

.first-name-txt[type="text"]::-webkit-input-placeholder,
.last-name-txt[type="text"]::-webkit-input-placeholder,
.e-mail-txt[type="email"]::-webkit-input-placeholder,
.password-txt[type="password"]::-webkit-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    box-sizing: border-box;

}

.first-name-txt[type="text"]::-moz-placeholder,
.last-name-txt[type="text"]::-moz-input-placeholder,
.e-mail-txt[type="email"]::-moz-input-placeholder,
.password-txt[type="password"]::-moz-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

.first-name-txt[type="text"]:-moz-placeholder,
.last-name-txt[type="text"]:-moz-input-placeholder,
.e-mail-txt[type="email"]:-moz-input-placeholder,
.password-txt[type="password"]:-moz-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

.first-name-txt[type="text"]:-ms-input-placeholder,
.last-name-txt[type="text"]:-ms-input-placeholder,
.e-mail-txt[type="email"]:-ms-input-placeholder,
.password-txt[type="password"]:-ms-input-placeholder {
    color: #B1B1B1;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 0 17.24px;
    box-sizing: border-box;
}

/********Registration page - Стилизация примечания password *********/

.psw-info {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 0 0 39px 0;
}

/********Registration page - Стилизация кнопки *********/

.registration-btn {
    display: block;
    position: relative;
}

.registration-btn input {
    display: block;
    text-align: left;
    padding: 0 0 0 29px;
    width: 167px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
}

.reg-btn-svg {
    position: absolute;
    top: 20px;
    left: 118px;
    fill: #ffffff;
    box-sizing: border-box;
}

.registration-btn:hover svg {
    fill: #F16D7F;
}

.registration-btn:active svg {
    fill: #222222;
}

/********Registration page - Стилизация loyalty has its perks*********/

.loyalty {
    padding: 0 0 0 128px;
    box-sizing: border-box;
}

.loyalty-header {
    text-transform: uppercase;
}

.loyalty-header,
.loyalty-txt,
.loyalty-list {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.loyalty-txt {
    margin: 22px 0 21px 0;
    width: 94%;
    text-align: justify;
}

.loyalty-list {
    list-style-type: none;
}

.loyalty-item {
    margin: 0 0 16px 45px;
    position: relative;
}

.loyalty-item::after {
    content: "";
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/ok.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 7px;
    left: -45px;
    box-sizing: border-box;
}