* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: lato;
    font-style: normal;
    width: 100%;
}

.page-header {
    width: 100%;
    min-height: 75px;
    background: #222222;
}

.page-header button:hover svg {
    fill: #f16d7f;
}

.page-header button:active svg {
    fill: #f1e4e6;
}

.page-header svg {
    display: block;
    fill: #e8e8e8;
}

.page-header svg:hover {
    color: #f16d7f;
}

.center {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.page-header-wrp,
.banner {
    display: flex;
    justify-content: space-between;
}

.page-header-wrp-btn {
    display: flex;
    align-items: flex-end;
}

.header-right {
    margin-right: 9.5px;
}

.page-header-logo {
    display: block;
    padding: 18px 41px 19px 0;
    width: 44px;
    height: 38px;
    text-decoration: none;
}

.page-header-logo img {
    width: 100%;
    height: 100%;
}

.page-header-logo:hover img {
    filter: brightness(40%);
}

.page-header-logo:active img {
    filter: brightness(60%);
}

.page-header-search {
    display: block;
    width: 26px;
    height: 27px;
    position: relative;
}

.page-header-search:hover svg {
    fill: #f16d7f;
}

.page-header-search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: -15px;
    left: 40px;

}

.search-btn-svg {
    position: absolute;
    top: -20px;
    left: -1px
}

.page-header-search-btn:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    background-color: white;
    border: 1px solid #e8e8e8;
}

/* .page-header-search {
    margin-bottom: 20px;
    width: 26px;
    height: 27px;
} */

.btn {
    display: block;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
}

.header-right-menu {
    padding: 30px 33px 22px 0;
}

.header-right-menu-btn {
    display: flex;
    width: 32px;
    height: 23px;
    border: none;
    background-color: transparent;
}

.menu-btn-element {
    margin: auto;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e8e8e8;
    position: relative;
}

.menu-btn-element::before,
.menu-btn-element::after {
    content: "";
    display: block;
    background-color: #e8e8e8;
    width: 100%;
    height: 3px;
    position: absolute;
}

.menu-btn-element::before {
    top: -10px;
    left: 0;
}

.menu-btn-element::after {
    top: 10px;
    left: 0;
}

.header-right-menu-btn:hover .menu-btn-element,
.header-right-menu-btn:hover .menu-btn-element::before,
.header-right-menu-btn:hover .menu-btn-element::after {
    background-color: #f16d7f;
}

.header-right-menu-btn:active .menu-btn-element,
.header-right-menu-btn:active .menu-btn-element::before,
.header-right-menu-btn:active .menu-btn-element::after {
    background-color: #f1e4e6;
}

.account-icon-btn {
    width: 29px;
    height: 29px;
    margin: 26px 33px 20px 0;
}

.cart-btn {
    width: 32px;
    height: 29px;
    margin: 26px 0 20px 0;
    position: relative;
}

.cart-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: #f16d7f;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    top: -8px;
    right: -9px;
}

.content {
    width: 100%;
}

.content-banner {
    background-color: #f1e4e6;
}

.banner {
    min-height: 764px;
}

.banner-photo {
    position: relative;
}

.banner-photo-png {
    position: absolute;
    bottom: 0px;
    left: -230px;
}

.banner-header {
    margin-top: 290px
}

.banner-header-wrp {
    margin-right: 100px;
    text-transform: uppercase;
    color: #222222;
    position: relative;
}

.banner-header-wrp::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    top: -1;
    left: -28px;
}

.banner-title {
    line-height: 57.6px;
    font-weight: 900;
    font-size: 48px;
}

.banner-subtitle {
    line-height: 38.4px;
    font-weight: 700;
    font-size: 32px;
}

.banner-subtitle span {
    color: #f16d7f;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 65px auto 96px auto;
}

.categories-wrp-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 360px;
    min-height: 260px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
    text-decoration: none;


}

.categories-item:nth-child(1) {
    background-image: url(../img/categories-item-1.png);
}

.categories-item:nth-child(2) {
    background-image: url(../img/categories-item-2.png);
}

.categories-item:nth-child(3) {
    background-image: url(../img/categories-item-3.png);
}

.categories-item:last-child {
    background-image: url(../img/categories-item-4.png);
    width: 100%;
    min-height: 180px;
    margin-top: 30px;
}

.categories-item-title,
.categories-item-subtitle {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.categories-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #ffffff;
    padding: 4px;
}

.categories-item-subtitle {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #f16d7f;
}